<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{title:'Productos'}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <!--para visualizarlo en el Navegador es /productos/listas-productos no sabia como ponerle XD-->
        <h1>Lista productos</h1>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>