<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle del Producto</title>
</head>

<body class="bodyC">
    <header class="home-header">
        <div class="componentes">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <img class="logo" src="./images/Logo.png" alt="Logo">

            <form class="barra-busqueda">
                <div class="div-barra">
                    <input class="barra" name="Buscar" type="text" placeholder="Buscar...">
                    <div><i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </form>
            <div>
                <nav class="nav">
                    <ul class="ingresar">
                        <li><a class="acceso" href="/acceso">Iniciar Seción</a></li>
                        <li><a class="registro" href="/registro">Registrarse</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="mainC">
        <div class="details-and-container">
            <section class="image-details-container">
                <div class="image-container">
                    <img src="/images/img1.jpeg" alt="img1">
                    <div class="additional-images">
                        <img class="hidden-on-mobile" src="/images/img2.jpeg" alt="img2">
                        <img class="hidden-on-mobile" src="/images/img3.jpeg" alt="img3">
                        <img class="hidden-on-mobile" src="/images/img4.jpeg" alt="img4">
                        <img class="hidden-on-mobile" src="/images/img5.jpeg" alt="img5">
                        <img class="hidden-on-mobile" src="/images/img6.jpeg" alt="img6">
                    </div>
                </div>
                <div class="details-container">
                    <h2>Procesador AMD RYZEN 3 3200G 4.0GHz Turbo + Radeon Vega 8 AM4 Wraith Stealth Cooler</h2>
                    <p class="rating">Calificación: 4.8</p>
                    <p class="price">
                        <h3>$220.990</h3>
                    </p>
                    <p class="share">en 12x $25.123</p>
                    <div class="features-container">
                        <h3>CARACTERISTICAS GENERALES</h3>
                        <ul>
                            <li><strong>Modelo:</strong> Ryzen 3 3200G</li>
                            <li><strong>Socket:</strong> AM4 APU 3th Gen</li>
                            <li><strong>Núcleos:</strong> 4</li>
                            <li><strong>Frecuencia:</strong> 3600.00 MHz</li>
                            <li><strong>Proceso De Fabricación:</strong> 12 nm</li>
                            <li><strong>Chipset Gpu:</strong> Radeon Vega 8</li>
                            <li><strong>Hilos:</strong> 4</li>
                            <li><strong>Frecuencia Turbo:</strong> 4000 MHz</li>
                            <li><strong>Familia:</strong> AMD RYZEN</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="sidebar">
                <ul>
                    <li><i class="fa-solid fa-shield-halved"></i> Garantía oficial - 24 meses</li>
                    <li><i class="fa-solid fa-truck"></i></i> Envíos a todo el país</li>
                    <li><i class="fa-solid fa-check"></i> Stock disponible</li>
                </ul>
                <button>Comprar ahora</button>
                <button>Agregar al carrito</button>
            </section>
        </div>
    </main>
    <footer class="home-footer">
        <div class="lista">
            <a href="/">Quiénes somos</a>
            <a href="/">Botón de arrepentimiento</a>
            <a href="/">Ventas corporativas</a>
            <a href="/">Términos y condiciones</a>
            <a href="/">Politicas de privacidad</a>
            <a href="/">Garantía y devoluciones</a>
            <a href="/">Promociones y sorteos</a>
        </div>

        <div class="padre">

            <div class="atencion">
                <h3>ATENCIÓN AL CLIENTE:</h3>
                <p>0800-555-7777 </p>
                <p>consultas@gmail.com</p>
                <p>WhatsApp +54 2227 592445</p>
                <p> Lunes a Viernes de 8 a 18hs.</p>
            </div>

            <div class="seguinos">
                <h3>SEGUINOS:</h3>
                <div class="contenedor-a">
                    <a class="redes" href=""><i class="fa-brands fa-facebook-f"></i>Facebook</a>
                    <a class="redes" href=""><i class="fa-brands fa-twitter"></i>Twitter</a>
                </div>

                <div class="contenedor-a2">
                    <a class="redes" href=""><i class="fa-brands fa-instagram"></i>Instagram</a>
                    <a class="redes" href=""><i class="fa-brands fa-youtube"></i>YouTube</a>
                </div>
            </div>

            <div class="barra-email">
                <input type="email" placeholder="Déjanos tu Email...">
            </div>
        </div>
    </footer>
</body>

</html>
