<!DOCTYPE html>
<html lang="en">

<body>
    <div class="layout">
        
        <main class="main_index">
            <nav class="navHome">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FF0000" class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                    Mi Compra
                </p>
                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3E2723" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg> Mis Productos
                </a>
                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3E2723" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg> Cupones
                </a>
                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3E2723" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg> Mètodos de pago
                </a>
                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3E2723" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg> Envìo
                </a>
                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3E2723" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg> Resumen
                </a>
            </nav>
            <div class="contenedorHome">
                <!-- Inicio Carousel-->
                <div class="carousel_main">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade m_edia2">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../public/images/carousel1.jpg" class="d-block w-100" alt="Imagen Carousel 1">
                        </div>
                        <div class="carousel-item">
                            <img src="../public/images/carousel2.jpg" class="d-block w-100" alt="Imagen Carousel 2">
                        </div>
                        <div class="carousel-item">
                            <img src="../public/images/carousel3.jpg" class="d-block w-100" alt="Imagen Carousel 3">
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div id="carouselExampleIndicators" class="carousel slide m_edia">
                        <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        </div>
                    </div>
                </div>    
                <!-- Fin Carousel -->
                <div>
                    <p class="main_p">ÙLTIMAS NOVEDADES</p>
                </div>
                <div class="cardHome">
                    <article class="articleHome">
                        <div>
                            <img src="../public/images/ryzen.jpg" alt="ryzen">
                        </div>
                        <h5>Procesador AMD RYZEN 3 3200G 4.0GHz Turbo + Radeon Vega 8 AM4 Wraith Stealth Cooler</h5>
                        <p>$ 220.990</p>
                    </article>
                    <article class="articleHome">
                        <div>
                            <img src="../public/images/fuente.jpg" alt="fuente">
                        </div>
                        <h5>Fuente Be Quiet 1000W 80 Plus Gold PURE POWER 11 Full Modular</h5>
                        <p>$ 150.750</p>
                    </article>
                    <article class="articleHome">
                        <div>
                            <img src="../public/images/gabinete.jpg" alt="gabinete">
                        </div>
                        <h5>Gabinete Antec NX292 MESH RGB Vidrio Templado</h5>
                        <p>$ 60.500</p>
                    </article>
                    <article class="articleHome">
                        <div>
                            <img src="../public/images/notebook.jpg" alt="notebook">
                        </div>
                        <h5>Notebook Dell Inspirion 3525 IPS FHD 15.6" Ryzen 5 5625U 8GB 256GB SSD NVMe W11 Home 120Hz</h5>
                        <p>$ 610.500</p>
                    </article>
                </div>
            </div>
        
        </main>
       
    </div>
    
    <!-- Linkeo de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>