<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>

<body>
   















    <!--LOGIN-->
    <main>
<div class="contenedor1">
        <section class="contenedor2">
            
                <div class="colorletra">
                    <h2>Login</h2>
                </div>
                <div class="contenedorinput"><input class="loginFbGM" type="button" name="correo" value="Iniciar sesion con Facebook"><i
                        class="fa-brands fa-facebook icon"></i></div>
                <div class="contenedorinput"><input class="loginFbGM" type="button" name="correo" value="Iniciar sesion con Gmail"><i
                        class="fa-solid fa-m icon"></i>
                </div>
                <div class="colorletra">
                    o
                </div>
                <div class="login"><label>Direccion de correo
                        electronico<input class="input" type="email" name="correo" value=""></label></div>
                <div class="login"><label>Contraseña<input class="input"type="password" name="contraseña" value=""></label></div>

                <div class="recuerdame"><label><input type="checkbox" name="Recuerdame">Recuerdame</label><a href=""
                        class="colorletra">                           
                        ¿Olvidaste la contraseña?</a></div>
                <input class="boton" type="submit" name="Iniciar Sesion" value="Iniciar Sesion">
            
        </section>
</div>
    </main>
    






















    
</body>

</html>