.body-form .main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grisOscuro);
}

.body-form .main-form .div-padre {
    max-width: 650px;
    padding: 28px;
    margin: 10px 28px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(132, 125, 120, 0.2);
    box-shadow: 0px 1px 10px rgb(0 0 0);
}

.body-form .main-form div .titulo {
    font-size: 17px;
    text-align: left;
    border-bottom: solid 1px;
    color: rgba(255, 255, 255, 0.8);
    display: initial;
}

.body-form .main-form .div-padre .form {}

.body-form .main-form .div-padre .form .div-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}


.body-form .main-form .div-padre .form .input .barra {
    background-color: rgba(132, 125, 120, 0.2);
    border: dashed 1px var(--naranja);
    border-radius: 5px;
    padding: 3.5px;
    margin-bottom: 10px;
    width: 64vw;
}


.body-form .main-form .div-padre .form .editar-titulo input {}

.body-form .main-form .div-padre .form .editar-precio input {}

.body-form .main-form .div-padre .form .editar-categoria {}

.body-form .main-form .div-padre .form .editar-descripcion {}

.body-form .main-form .div-padre .form .editar-imagen {
    margin-bottom: 10px;
}

.body-form .main-form .div-padre .form .editar-imagen input {
    display: none;
}

.body-form .main-form .div-padre .form .editar-imagen .boton {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(132, 125, 120, 0.2);
    padding: 4px;
    border-radius: 5px;
    transition: 500ms;
}

.body-form .main-form .div-padre .form .editar-imagen .boton:hover {
    background-color: var(--naranja);
    box-shadow: 0px 1px 5px rgb(0 0 0);
}

.body-form .main-form .div-padre .form .editar-imagen input {}

.body-form .main-form .div-padre .form .boton {
    font-size: 11px;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(132, 125, 120, 0.2);
    padding: 4px;
    border-radius: 5px;
    transition: 500ms;
}

.body-form .main-form .div-padre .form .boton:hover {
    background-color: var(--naranja);
    box-shadow: 0px 1px 5px rgb(0 0 0);
}


@media (min-width:560px) {
    /*!TABLET*/

}

@media (min-width:768px) {
    /*?DESKTOP*/
}