.bodyF {
    background-color: var(--grisfond); 
}


.mainF .tipoletra{
    margin: 90px auto;
    max-width: 230px;
    background-color: var(--grisfond);
}

.mainF .tipoletra form .global {
    padding: 0px;
    margin: 0px;
    border-radius: 7px;
    background-color: var(--grisOscuro);
    text-align: center;
}

.mainF .tipoletra form .global .contenedorinput .registerFbGM {
    padding: 0px 20px 0px 0px;
    margin-bottom: 4%;
    height: 20px;
    width: 75%;
    font-size: 7px;
    background-color: var(--grisClaro);
    color: var(--blanco);
    border-radius: 10px;
    border: solid 1px var(--mandarina);
}

.mainF .tipoletra form .global .contenedorinput{
    position: relative;
}

.mainF .tipoletra form .global .contenedorinput .icon{
    font-size: 12px;
    position: absolute;
    bottom: 12px;
    right: 39px;
}

.mainF .tipoletra form .global .colordeletra h2 {
    color: var(--naranja);
    font-size: 17px;
    padding-top: 10px;
    text-align: center;
}

.mainF .tipoletra .global .separador {
    padding-bottom: 5%;
    font-size: 14px;
    color: var(--naranja);
    font-weight: normal;
}

.mainF .tipoletra .global .div-label{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainF .tipoletra .global .div-label .Register .label {
    display: flex;
    justify-content: left;
    font-weight: normal;
    font-size: 8px;
    padding: 0px 0px 0px 30px;
    color: var(--blanco);
}

.mainF .tipoletra .global .div-label .Register .inputR{
    width: 75%;
    background-color: var(--grisClaro);
    border: solid 2px var(--naranja);
    border-radius: 4px;
    height: 20px;
    margin-bottom: 10px;
}


.mainF .tipoletra .global .input-submit-container .boton{
    width: 66%;
    font-size: 10px;
    font-weight: normal;
    background-color: var(--grisClaro);
    color: var(--blanco);
    border: solid 2px var(--naranja);
    border-radius: 6px;
    padding: 5px;
    margin: 22px 0px;
}

@media (min-width:560px) {
    /*!TABLET*/

    .mainF .tipoletra{
        max-width: 260px;
    }
    
    .mainF .tipoletra form .global {
        border-radius: 3px;
    }
    
    .mainF .tipoletra form .global .contenedorinput .registerFbGM {
        border-radius: 5px;
    }

    .mainF .tipoletra .global .div-label .Register .inputR{
        border: solid 1px var(--naranja);
    }
    
}

@media (min-width: 768px) {
    /*?DESKTOP*/

    .mainF .tipoletra{
        max-width: 300px;
    }
    
    .mainF .tipoletra form .global {
        border-radius: 3px;
    }

    .mainF .tipoletra .global .div-label .Register .label{
     padding: 0;
    }
    
    .mainF .tipoletra .global .div-label .Register .inputR{
        width: 100%;
    }
    
    .mainF .tipoletra form .global .contenedorinput .icon{
        font-size: 13px;
        position: absolute;
        bottom: 15px;
        right: 42px;
    }
}