.home-header {
    box-shadow: 1px 5px 4px var(--grisOscuro);
}

.home-header .componentes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-header .componentes .burger-menu {
    color: var(--naranja);
    font-size: 23px;
    margin-top: 3%;
    margin-left: 2.2%;
}

.home-header .componentes .logo {
    width: 47px;
}

.home-header .componentes .barra-busqueda .div-barra .barra {

    display: flex;

    color: var(--blanco);

    background-color: rgb(255 255 255 / 0.2);

    border-radius: 9px;

    font-size: 11px;

    width: 51vw;

    border: solid 2px var(--naranja);

    box-shadow: 1px 4px 7px var(--negro);
}

.home-header .componentes .barra-busqueda .div-barra .barra ::placeholder {

    color: var(--blanco);

}

.home-header .componentes .div-barra {

    display: flex;

    justify-content: center;

    color: var(--naranja);

    margin-top: 16px;
}

.home-header .componentes .div-barra div .fa-magnifying-glass {
    display: flex;
    font-size: 10px;
    margin-top: 4px;
    position: absolute;
    right: 24vw;
}


.home-header div .nav .ingresar {
    list-style: none;
}

.home-header div .nav ul {
    display: flex;
    padding-top: 17%;
}

.home-header div .nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 1px var(--naranja);
    border-radius: 5px;
    padding: 2px;
}




@media (min-width:425px) {
    /*!TABLET*/

    .home-header .componentes {
        justify-content: space-between;
    }

    .home-header .componentes .burger-menu {
        display: none;
    }

    .home-header .componentes .logo {

        margin-left: 7px;
    }

    .home-header .componentes .barra-busqueda .div-barra .barra {

        width: 57vw;

        font-size: 7px;

        padding: 4px 0px;
    }

    .home-header .componentes .div-barra {

        margin-top: 13px;
    }

    .home-header .componentes .div-barra div .fa-magnifying-glass {

        position: absolute;

        right: 24vw;
    }

    .home-header div .nav ul {
        padding-top: 16%;
    }

    .home-header div .nav a {
        font-size: 4px;
        padding: 3px 0px;
        margin-right: 7px;
    }



}

@media (min-width:768px) {
    /*?DESKTOP*/

    .home-header .componentes {
        margin: auto;

        max-width: 1024px;

        justify-content: space-around;
    }

    .home-header .componentes .logo {

        margin: 0;

        width: 7%;
    }

    .home-header .componentes .barra-busqueda .div-barra .barra {
        font-size: 79%;
        padding-left: 9px;
    }

    .home-header .componentes .div-barra div .fa-magnifying-glass {
        position: absolute;
        right: 27.5vw;
        font-size: 17px;
    }

    .home-header div .nav ul {
        padding-top: 11%;
    }

    .home-header div .nav a {
        font-size: 8px;
        padding: 4px;
    }



}