.bodyL {
    background-color: var(--grisfond);
}

.contenedor1 {
    margin: 5% 20%;
    background-color: var(--grisfond);
}

.contenedor1 form .contenedor2 {
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    background-color: var(--grisOscuro);
    text-align: center; 
}

.contenedor1 form .contenedor2 .colorletra {
    padding-bottom: 5%;
    font-size: 14px;
    color: var(--naranja);
    font-weight: normal;
}

.contenedor1 form .contenedor2 .contenedorinput .loginFbGM {
    padding: 0px 20px 0px 0px;
    margin-bottom: 4%;
    height: 20px;
    width: 75%;
    font-size: 7px;
    background-color: var(--grisClaro);
    color: var(--blanco);
    border-radius: 10px;
    border: solid 1px var(--mandarina);
}

.contenedor1 form .contenedor2 .letra h2{
    color: var(--naranja);
    font-size: 17px;
    padding-top: 10px;
}

.recuerdame {
    display: flex;
    padding-bottom: 8%;
    color: var(--blanco);
    justify-content: space-evenly;
}

.contenedor1 form .contenedor2 .div-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor1 form .contenedor2 .div-label .login .email {
    display: flex;
    justify-content: left;
    font-weight: normal;
    font-size: 8px;
    padding: 0px 0px 0px 30px;
    color: var(--blanco);
}

.contenedorinput {
    position: relative;
}

.inputL {
    width: 75%;
    background-color: var(--grisClaro);
    border: solid 2px var(--mandarina);
    border-radius: 4px;
    height: 20px;
    margin-bottom: 10px;
}

.icon {
    font-size: 12px;
    position: absolute;
    bottom: 12px;
    right: 39px;
}

.contenedor1 form .contenedor2 div .boton {
    width: 66%;
    font-size: 10px;
    font-weight: normal;
    background-color: var(--grisClaro);
    color: var(--blanco);
    border: solid 2px var(--mandarina);
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 36px;
}

.contenedor1 form .contenedor2 .recuerdame .check{width: 10px;}

.contenedor1 form .contenedor2 .recuerdame label{
    font-size: 9px;
}

.contenedor1 form .contenedor2 .recuerdame .olvidaste {
    font-size: 8px;
    color: var(--naranja);
    font-weight: normal;
    text-decoration: none;
    padding: 8px 0px 0px 0px;
}

@media (min-width:560px) {
    /*!TABLET*/
    .bodyL {
        background-color: var(--grisfond);
    }
    
    .contenedor1 {
        margin: 5% 20%;
        background-color: var(--grisfond);
    }
    
    .contenedor2 {
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        background-color: var(--grisOscuro);
        text-align: center; 
    }
    
    .colorletra {
        padding-bottom: 5%;
        font-size: 14px;
        color: var(--naranja);
    }
    
    .loginFbGM {
        padding: 0px 20px 0px 0px;
        margin-bottom: 4%;
        width: 75%;
        font-size: 7px;
        background-color: var(--grisClaro);
        color: var(--blanco);
        border-radius: 5%;
        border: solid 1px var(--mandarina);
    }
    
    a.colorletra {
        font-size: 8px;
        padding-left: 1%;
        flex-direction: row-reverse;
    }
    
    .recuerdame {
        padding-bottom: 10%;
        font-size: 8px;
        color: var(--blanco);
    }
    
    .login {
        width: 95%;
        margin-bottom: 5%;
        margin-left: 13%;
        text-align: center;
        font-size: 7px;
        color: var(--blanco);
        text-align: start;
    }
     
    .inputL {
        width: 81%;
        background-color: var(--grisClaro);
        border: solid 2px var(--mandarina);
        border-radius: inherit;
    }
    
    .icon {
        font-size: 12px;
        position: absolute;
        bottom: 9px;
        right: 35px;
    }
    
    .boton {
        margin-bottom: 1px;
        padding: 3%;
        width: 66%;
        font-size: 12px;
        background-color: var(--grisClaro);
        color: var(--blanco);
        border: solid 3px var(--mandarina);
        border-radius: inherit;
    }
}
@media (min-width: 768px) {
    /*?DESKTOP*/
    .bodyL {
        background-color: var(--grisfond);
    }
    
    .contenedor1 {
        padding: 0px;
        margin: 5% 32%;
        background-color: var(--grisfond);
    }
    
    .contenedor2 {
        padding: 0px;
        border-radius: 10px;
        background-color: var(--grisOscuro);
        text-align: center;
    }
    
    .colorletra {
        padding-bottom: 5%;
        font-size: 14px;
        color: var(--naranja);
    }
    
    .loginFbGM {
        padding: 0px 20px 0px 0px;
        margin-bottom: 4%;
        width: 75%;
        font-size: 12px;
        background-color: var(--grisClaro);
        color: var(--blanco);
        border-radius: 2%;
        border: solid 1px var(--mandarina);
    }
    
    .colorletra {
        font-size: 10px;
        padding-left: 1%;
        flex-direction: row-reverse;
    }
    
    .recuerdame {
        padding-bottom: 14%;
        font-size: 10px;
        color: var(--blanco);
    }
    
    .login {
        width: 90%;
        margin-bottom: 5%;
        margin-left: 13%;
        text-align: center;
        font-size: 13px;
        color: var(--blanco);
        text-align: start;
    }
    
    .contenedorinput {
        position: relative;
    }
    
    .inputL {
        width: 81%;
        background-color: var(--grisClaro);
        border: solid 2px var(--mandarina);
        border-radius: inherit;
    }
    
    .icon {
        font-size: 13px;
        position: absolute;
        bottom: 19px;
        right: 53px;
    }
    
    .boton {
        width: 66%;
        font-size: 12px;
        background-color: var(--grisClaro);
        color: var(--blanco);
        border: solid 3px var(--mandarina);
        border-radius: inherit;
    }
}
