<footer class="home-footer">
    <div class="lista">
        <a href="/">Quiénes somos</a>
        <a href="/">Botón de arrepentimiento</a>
        <a href="/">Ventas corporativas</a>
        <a href="/">Términos y condiciones</a>
        <a href="/">Politicas de privacidad</a>
        <a href="/">Garantía y devoluciones</a>
        <a href="/">Promociones y sorteos</a>
    </div>

    <div class="padre">

        <div class="atencion">
            <h3>ATENCIÓN AL CLIENTE:</h3>
            <p>0800-555-7777 </p>
            <p>consultas@gmail.com</p>
            <p>WhatsApp +54 2227 592445</p>
            <p>Lunes a Viernes de 8 a 18hs.</p>
        </div>

        <div class="seguinos">
            <h3>SEGUINOS:</h3>
            <div class="contenedor-a">
                <a class="redes" href=""><i class="fa-brands fa-facebook-f"></i>Facebook</a>
                <a class="redes" href=""><i class="fa-brands fa-twitter"></i>Twitter</a>
            </div>

            <div class="contenedor-a2">
                <a class="redes" href=""><i class="fa-brands fa-instagram"></i>Instagram</a>
                <a class="redes" href=""><i class="fa-brands fa-youtube"></i>YouTube</a>
            </div>
        </div>

        <div class="barra-email">
            <input type="email" placeholder="Déjanos tu Email...">
        </div>
    </div>
</footer>