<header class="home-header">
    <div class="componentes">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <a href="/">
            <img class="logo" src="../../../images/Logo.png" alt="Logo">
        </a>
        <form class="barra-busqueda">
            <div class="div-barra">
                <input class="barra" name="Buscar" type="text" placeholder="Buscar...">
                <div><i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </form>
        <div>
            <nav class="nav">
                <ul class="ingresar">
                    <% if (locals.userLogin){ %>
                        <li><a class="acceso" href="/authentication/acceso">Iniciar Seción</a></li>
                        <li><a class="registro" href="/authentication/registro">Registrarse</a></li>
                        <% } else{ %>
                            <li><a class="registro" href="/users/perfil"><i class="fa-regular fa-user"></i> Ver
                                    perfil</a></li>
                                    <li><a class="registro" href="/admin/lista-productos">Administrador</a></li>
                            <% } %>
                </ul>
            </nav>
        </div>
    </div>
</header>