<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head",{title:"Listas de Producto"})%>


    <body>

            <main>
                HOLA
            </main>

            <%- include('../partials/footer') %>
            <%- include('../partials/dashboard') %>
    </body>

</html>