<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head",{title:"Carrito"}) %>


<body>
 
    <%- include('../partials/header') %>

    <!--CARRITO-->
    <main class="contenedortotal">

        <div class="contenedorcar">
            <section>
                <div class="prueba">
                    <div class="contmicompra">
                        <i class="fa-solid fa-cart-shopping icon2"></i>
                        <h1 class="micompra">Mi Compra</h1>
                    </div>
                    <div class="imagenes">
                        <div class="contenedorimg1"><a class="linkimg" href="#"><img class="imgcar" src="../images/monitor.png" alt=""><h2 class="articulo">Monitor Phillips 19</h2></a></div>
                            <div class="contenedorimg2"><a class="linkimg"href="#"><img class="imgcar" src="../images/Procesador-Amd.png" alt=""><h2 class="articulo">Procesador AMD RYZEN 3 3200G 4.0GHz Turbo + Stealth Cooler</h2></a></div>
                    </div>
                    <div class="discount"><label>Cupon: <input class="botondescuento"type="text" name="descuento" value="Codigo promocional"></label></div>
                    <div class="contenedorboton"><input class="botoncar"type="button" name="pagar" value="Pagar:$315980"></div>
                </div>
            </section>
        </div>

    </main>
   
    <%- include('../partials/footer') %>

</body>

</html>